<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning & AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">MN</div>
        <!--<nav>
            <ul>
                <li><a href="#">VFX & Rendering</a></li>
                <li><a href="/nextpage" class="#">Machine Learning & AI</a></li>
                <li><a href="#">Inference Service</a></li>
            </ul>
        </nav> -->
        <div style="display: flex; gap: 10px;">
            <a href="/register">
                <button class="secure">Sign Up</button>
            </a>
            <a href="/login">
                <button class="secure">Login</button>
            </a>

        </div>
    </header>

    <section class="hero">
        <div class="landing-page">
            <h1>Machine Learning & AI</h1>
            <p>Weaverly Cloud enables you to train, fine-tune, and deploy models up to 40 times faster, offering the scalability and cost efficiency you need.</p>
        </div>
        <div class="nav-bar">

            <div class="hover-container">
                 <a href="#" class="nav-option">Pixel Streaming</a>
                 <div class="popup1">
                    Please Login/ Sign Up
                 </div>
            </div>

            <div class="hover-container">
                 <a href="#" class="nav-option">Machine Learning & AI</a>
                 <div class="popup1">
                    Please Login/ Sign Up
                 </div>
            </div>

            <div class="hover-container">
                 <a href="#" class="nav-option">VFX & Rendering</a>
                 <div class="popup1">
                    Please Login/ Sign Up
                 </div>
            </div>

        </div>
    </section>

    <footer>
        <div class="footer-content">
            <span>AMD</span>
            <span>Epic Games</span>
            <span>NVIDIA</span>
        </div>
    </footer>

</body>
</html>
