<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advanced AI & Machine Learning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div><a href="/action"  class="logo">MN</a></div>
        <nav>
            <ul>
                <li><a class="secure">Machine Learning & AI</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero">
        <div class="landing-page">
            <section class="features">
                <a href="/makers" class="feature-card">
                    <h2>Used Car Price Prediction</h2>
                    <p>We trained a model with 2 lakhs+ used cars data of USA and achieved a 96% test result.</p>
                </a>
                <a href="/security-info" class="feature-card">
                    <h2>Secure And Reliable</h2>
                    <p>Top-notch data security. Your information is encrypted and protected, ensuring your data is safe and accessible only to you.</p>
                </a>
                <a href="/security-info" class="feature-card">
                    <h2>Cutting-Edge AI</h2>
                    <p>Harness advanced machine learning techniques to solve complex problems with models ranging from deep learning to NLP.</p>
                </a>
                <a href="/security-info" class="feature-card">
                    <h2>Scalable Solutions</h2>
                    <p>Grow with us. Our platform scales to meet your needs, whether you're a startup, enterprise, or researcher.</p>
                </a>
            </section>
         </div>
    </section>

    <!-- Back Button -->
    <!-- <a href="/" class="back-button-container">Back</a> -->
    <footer>
        <div class="footer-content">
            <span>AMD</span>
            <span>Epic Games</span>
            <span>NVIDIA</span>
        </div>
    </footer>
</body>
</html>
